body {
    background-color: #f4f4f9;
    transition: background 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #7c3aed;
    color: white;
}
